body {
    background-color: #674B24 ;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    background-color: white;
    border : 2px solid black;
    width: 700px;
    margin : 20px auto;
    text-align: center; 
}

header img {
    margin-top: 10px;
}

h1, h2, h3 {
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 200%;
    border-top: solid darkred 2px;
    border-bottom : solid darkred 2px;
    padding : 16px 0;
    margin : 20px 10px;
}

h2 {
    font-size : 25px;
    padding-bottom: 15px;
}

h3 {
    color : darkred;
    font-size: 1.2em;
}

#logo-presentation {
    width : 150px;
    height: 150px;
}

footer {
    background-color: #EEEEEE;
    padding: 20px 0 60px;
    margin: 0 3% 3%;
}

main {
    background-color: #EEEEEE;
    width: 600px;
    line-height: 130%;
    margin : 16px auto;
    padding-top: 25px;
}

aside p {
    font-style: italic;
    font-size: 0.6em;
}

aside {
    border-top: solid black 3px;
    padding :15px 20px;
    margin:15px 0;

}

section p {
    text-align:left;
    padding : 20px;
}

span {
    background-color: black;
    color:white;
    font-size: small;
    padding: 8px 16px;
}

#produits {
    background-color: white;
}

#produits h3 {
    color: black;
    padding: 16px;
}

#produits a {
    background-color: #EEEEEE;
    border-radius: 1em;
    padding: 4px 0;
    text-transform: uppercase;
    color: darkred;
    font-size: 0.8em;
    margin: 2px 0;
    letter-spacing: .05em;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

/* super bonus */

/* Pour rajouter un effet de style au survol du lien j'utilise la pseudo-class hover : https://developer.mozilla.org/fr/docs/Web/CSS/:hover */

#produits a:hover {
    background-color: #bbbbbb;
    color: #ff0000;
}

#images {
    background-color:white;
}

#images article {
    width: 28%;
    margin: 15px auto;
    border: 1px solid black;
    padding : 10px;
    /* pour afficher tous les blocs sur une ligne une des solutions est de changer leur prorpriété display: inline-block; */
}

#images img {
    width: 100%;
}

#images h2, h3 {
    padding: 20px;
}

#images p {
    font-size: 0.8em;
    text-align: center;
}

#flex {
    display: flex;
}
